.drop-file-input {
    position: relative;
    border: 2px dotted black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



.drop-file-input__label {
    text-align: center;
    font-weight: 600;
    padding: 1rem;
}

.drop-file-input.dragover,
.drop-file-input:hover > .drop-file-input__label {
    opacity: 0.6;
}

.drop-file-preview {
    display: flex;
    flex-direction: column;
}

.drop-file-preview__item {
    /* position: relative; */
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin: 10px;
    padding: 0.75rem;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.drop-file-preview__item__del {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}