.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    top: 0;
}

.welcome-title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.animation-container:hover {
    /* opacity: 0.5; */
}