@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Meera Inimai';
  /* color: #090b0b; */
}

